<head>
    <title>REST client for ACP time API</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            margin-bottom: 20px;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
        }
    </style>
</head> 
<body>
    <h2>Client for REST ACP Brevet Times Database</h2>
    <label for="queryType">Query Type:</label>
    <select id="queryType">
        <option selected="selected" value="listAll">List All</option>
        <option value="listOpenOnly">List Open Times Only</option>
        <option value="listCloseOnly">List Close Times Only</option>
    </select>

    <div id="top">
        <label for="topCheck">Get top results?</label>
        <input type="checkbox" id="topCheck">
        <label for="topNumber">Number of top results</label>
        <input type="number" id="topNumber" value="0">
    </div>

    <button id="query">Query</button>
    <pre id="space"></pre>
    <div id="tables">

    </div>
    <!--
    <table>
        <tr>
            <th>Brevet Number</th>
            <th>Distance</th>
            <th>Begin Time</th>
            <th>Begin Date</th>
        </tr>
        <tr>
            <td>1</td>
            <td>200km</td>
            <td>1 PM</td>
            <td>Sunday, January 1</td>
        </tr>
        <tr>
            <th>Miles</th>
            <th>Kilometers</th>
            <th>Location</th>
            <th>Open</th>
            <th>Close</th>
        </tr>
        <tr>
            <td>100</td>
            <td>313o013</td>
            <td>Wherever</td>
            <td>1pm</td>
            <td>2pm</td>
        </tr>
        <tr>
            <td>100</td>
            <td>313o013</td>
            <td>Wherever</td>
            <td>1pm</td>
            <td>2pm</td>
        </tr>
    </table>
    -->
    
    <script src="/static/js/index.js"></script>
</body>