<table class="control_time_table">
  <tr>
<th> Miles </th>
<th> Km </th>
<th>Location</th>
<th>Open</th>
<th>Close</th>
<th>Notes</th>
  </tr>
{% for item in items %}
<tr class="control">
  <!-- Dist (mi) -->
  <td>{{item.distM}}</td>
  <!-- Dist (km) -->
  <td>{{item.distKM}}</td>
  <!-- Location (optional) -->
  <td>{{item.location}}</td>
  <!-- Open time (read only, set by JavaScript function -->
  <td>{{item.open}}</td>
  <!-- Close time (read only, set by JavaScript function -->
  <td>{{item.close}}</td>
  <!-- Notes (error messages for this row) -->
  <td>{{item.notes}}</td>
</tr>
{% endfor %}
</table>